/* ##Variables */
$yellow-color: #ffa634;
$gradient-default-color: linear-gradient(
  264.26deg,
  #ff267a 0%,
  #ffa634 101.03%
);
$white-color: #f9f9f9;
$gray-color: #a8a8a8;
$gray-dark-color: #181818;
$dark-color: #121214;
